# Environment variables (Secrets - NEVER UPLOAD)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# large Model Data (approx 5GB - Do not upload)
models/
*.gguf

# Android App
frontend/node_modules/
frontend/.expo/
frontend/dist/
