# Environment variables (Secrets - NEVER UPLOAD)
.env

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# large Model Data (approx 5GB - Do not upload)
models/
*.gguf

# Android App
mobile/node_modules/
mobile/.expo/
mobile/dist/
